.jOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 24px;
}

.jPopup {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    max-height: 100%;
    width: 100%;
    border-radius: 3px;

}


.jPopup__header {
    flex-basis: 64px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid #e5e5e5;
}

.jPopup__body {
    overflow: hidden;
    display: flex;
    min-height: 70px;

}

.jPopup__body>div {
    flex: 1;
}

.jPopup__content {
    padding: 1.25rem 2rem;
}

.jPopup__footer {
    flex-basis: 64px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f1f1f1;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #e8e8e8;
}

.jPopup__title {
    font-size: 15px;
    color: #262626;
}

.jPopup--sm {
    max-width: 600px;
}

.jPopup--md {
    max-width: 960px;
}

.jPopup--lg {
    max-width: 1280px;
}

;